<script type="text/javascript">
    RED.nodes.registerType('client details', {
        category: 'function',
        color: '#a6bbcf',
        defaults: {
            name: {
                value: ""
            }
        },
        inputs: 1,
        outputs: 1,
        icon: "file.png",
        label: function() {
            return this.name || "client details";
        }
    });
</script>

<script type="text/x-red" data-template-name="client details">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="client details">
    <p>A node that extracts client details of request</p>
</script>