<script type="text/x-red" data-template-name="email send">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-envelope"></i> <span>To</span></label>
        <input type="text" id="node-input-name" placeholder="email@address.com">
    </div>
    <!-- <div class="form-row">
        <label for="node-input-pin"><i class="fa fa-asterisk"></i> Service</label>
        <select type="text" id="node-input-pin" style="width: 150px;">
            <option value="-" disabled> </option>
            <option value="DynectEmail">DynectEmail</option>
            <option value="Gmail">Gmail</option>
            <option value="hot.ee">hot.ee</option>
            <option value="Hotmail">Hotmail</option>
            <option value="iCloud">iCloud</option>
            <option value="mail.ee">mail.ee</option>
            <option value="Mail.Ru">Mail.Ru</option>
            <option value="Mailgun">Mailgun</option>
            <option value="Mailjet">Mailjet</option>
            <option value="Mandrill">Mandrill</option>
            <option value="Postmark">Postmark</option>
            <option value="QQ">QQ</option>
            <option value="QQex">QQex</option>
            <option value="SendGrid">SendGrid</option>
            <option value="SendCloud">SendCloud</option>
            <option value="SES">SES</option>
            <option value="Yahoo">Yahoo</option>
            <option value="yandex">yandex</option>
            <option value="Zoho">Zoho</option>
         </select>
    </div> -->
    <!-- <div class="form-row">
        <label for="node-input-server"><i class="fa fa-globe"></i> <span data-i18n="email.label.server"></span></label>
        <input type="text" id="node-input-server" placeholder="smtp.gmail.com">
    </div>
    <div class="form-row">
        <label for="node-input-port"><i class="fa fa-random"></i> <span data-i18n="email.label.port"></span></label>
        <input type="text" id="node-input-port" placeholder="465" style="width:100px">
        <label style="width:40px"> </label>
        <input type="checkbox" id="node-input-secure" style="display:inline-block; width:20px; vertical-align:baseline;">
        <span data-i18n="email.label.useSecureConnection"></span>
    </div> -->
    <div class="form-row">
        <label for="node-input-server"><i class="fa fa-globe"></i> <span>Server</span></label>
        <select type="text" id="node-input-server" style="width: 150px;">
            <option value="smtp.gmail.com">smtp.gmail.com</option>
            <option value="smtp.mail.yahoo.com">smtp.mail.yahoo.com</option>
            <option value="smtp-mail.outlook.com">smtp-mail.outlook.com</option>
         </select>
    </div>
    <div class="form-row">
        <label for="node-input-userid"><i class="fa fa-user"></i> <span>Userid</span></label>
        <input type="text" id="node-input-userid">
    </div>
    <div class="form-row">
        <label for="node-input-password"><i class="fa fa-lock"></i> <span>Password</span></label>
        <input type="password" id="node-input-password">
    </div>
    <br/>
    <div class="form-row">
        <label for="node-input-dname"><i class="fa fa-tag"></i> <span data-i18n="node-red:common.label.name"></span></label>
        <input type="text" id="node-input-dname" data-i18n="[placeholder]node-red:common.label.name">
    </div>
    <div class="form-tips" id="node-tip"><span data-i18n="[html]email.tip.cred"></span></div>
</script>

<script type="text/x-red" data-help-name="email send">
    <p>Sends the <code>msg.payload</code> as an email, with a subject of <code>msg.topic</code>.</p>
    <p>The default message recipient can be configured in the node, if it is left blank it should be set using the <code>msg.to</code> property of the incoming message. If left blank you can also specify <code>msg.cc</code> and/or <code>msg.bcc</code> properties.</p>
    <p>You may optionally set <code>msg.from</code> in the payload which will override the <code>userid</code> default value.</p>
    <p>The payload can be html format.</p>
    <p>If the payload is a binary buffer then it will be converted to an attachment. The filename should be set using <code>msg.filename</code>. Optionally <code>msg.description</code> can be added for the body text.</p>
    <p>Alternatively you may provide <code>msg.attachments</code> which should contain an array of one or more attachments in <a href="https://www.npmjs.com/package/nodemailer#attachments" target="_new">nodemailer</a> format.</p>
    <p>If required by your recipient you may also pass in a <code>msg.envelope</code> object, typically containing extra from and to properties.</p>
    <p>Note: uses SMTP with SSL to port 465.</p>
</script>

<script type="text/javascript">
    (function() {
        RED.nodes.registerType('email send', {
            category: 'social-output',
            color: "#c7e9c0",
            defaults: {
                server: {
                    value: "smtp.gmail.com",
                    required: true
                },
                port: {
                    value: "465",
                    required: true
                },
                secure: {
                    value: true
                },
                name: {
                    value: ""
                },
                dname: {
                    value: ""
                }
            },
            credentials: {
                userid: {
                    type: "text"
                },
                password: {
                    type: "password"
                },
                global: {
                    type: "boolean"
                }
            },
            inputs: 1,
            outputs: 1,
            icon: "envelope.png",
            align: "right",
            paletteLabel: function() {
                return "email send" //this._("email.email");
            },
            label: function() {
                return this.dname || this.name || "email send";
            },
            labelStyle: function() {
                return (this.dname) ? "node_label_italic" : "";
            },
            oneditprepare: function() {
                if (this.credentials.global) {
                    $('#node-tip').show();
                } else {
                    $('#node-tip').hide();
                }
            }
        });
    })();
</script>